.columns {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.column {
  min-width: 50%;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  column-count: 2;
  column-gap: var(--space-8);
  max-height: 180px;
  overflow: hidden;
}

.title {
  margin: 0;
  text-align: left;
}

.list_item {
  text-align: left;
}

.content {
  text-align: left;
}
